*{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/**--Header--*/
header{
    background-color: #fff;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}
.logo{
    max-width: 100%;
    margin-top: 5px;
    float: left;
}
#nav-bar{
    float: right;
}
#nav-bar ul li{
    display: inline-block;
    line-height: 60px;
}
#nav-bar ul li a{
    margin-left: 25px;
    text-decoration: none;
    color: #424142;
}
#nav-bar ul li a span{
    color: #c1069f;
    font-weight: 500;
}
#nav-bar ul li a:hover{
    color: #c1069f;
}
#nav-bar ul li a span:hover{
    color: #424142;
}

/**--contact banner--*/
#contact-banner{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.9)),url(../img/items.jpg);
    background-position: center;
    background-size: cover;
    margin-top: 5px;
}
.contact-text{
    font-size: 50px;
    color: #fff;
    padding-left: 1.5%;
    padding-top: 160px;
    padding-bottom: 160px;
    margin-left: 350px;
}

/**--contact us--*/
#contact-mail{
    margin-top: 50px;
    margin-bottom: 50px;
}
.contact-us{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.contact-left-col{
    flex-basis: 50%; 
}
.contact-left-col h1{
    margin-bottom: 30px;
    font-size: 40px;
    color: #424142;
}
.contact-right-col{
    flex-basis: 50%;
}
.contact-right-col img{
    width: 500px;
    margin-left: 85px;
    margin-bottom: 20px;
}
.input-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.input-row .input-group{
    flex-basis: 45%;
}
input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #c1069f;
    outline: none;
    padding-bottom: 5px;
}
textarea{
    width: 100%;
    border: 1px solid #c1069f;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
}
button{
    background-color: #424142;
    width: 100px;
    height: 50px;
    border: none;
    outline: none;
    margin-top: 20px;
    border-radius: 10px;
    color: #fff;
}
button:hover{
    background-color: #c1069f;
    cursor: pointer;
}


/*---call section--*/
#info-section{
    margin-top: 60px;
    margin-bottom: 40px;
}
.contact-us-row{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
}
.column{
    flex-basis: 25%;
    text-align: center;
    font-size: 16px;
    margin: 30px;
}
.column a img{
    width: 40px;
    margin-left: 15px;
}
.column h2{
    margin-bottom: 10px;
    color: #c1069f;
}



/*---footer--*/
#footer{
    padding: 30px 0 30px;
    background-color: #424142;
}
.footer-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-left-col{
    flex-basis: 50%;
    margin-left: 90px;
}
.footer-right-col{
    flex-basis: 35%;
}
.footer-logo img{
    width: 150px;
    margin-bottom: 20px;
}
.footer-contact{
    margin-bottom: 20px;
}
.footer-contact small{
    font-size: 14px;
    color: #fff;
}
.social-icons img{
    width: 20px;
    padding: 0 20px 0 0;
}
.footer-section .social-icons{
    margin-top: 20px;
}
.footer-links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-right: 150px;
    color: #fff;
}
.footer-links{
    flex-basis: 40%;
}
.link-title small a{
    color: #fff;
    text-decoration: none;
    
}
.link-title small a:hover{
    color: #c1069f;
}

.footer-section .line{
    height: 1.5px;
    width: 1200px;
    background: #fff;
    display: inline-block;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
}
.footer-section .footer-text{
    color: #fff;
    margin-top: 20px;
    margin-left: 500px;
}



@media only screen and (max-width: 500px){
    .container{
        margin: auto;
        overflow: hidden;
    }
    .logo{
        max-width: 30%;
        margin-top: 20px;
        margin-left: 30px;
    }
    #nav-bar{
        position: fixed;
        width: 200px;
        height: 100%;
        background-color: #7e7a7e;
        right: -200px;
        transition: all 0.5s linear;
    }
    #nav-bar.active{
        right: 0px;
    }
    #nav-bar ul li{
        list-style: none;
        padding: 5px 20px;
        font-size: 15px;
    }
    #nav-bar ul li a,  #nav-bar ul li a span{
        color: #ffffff;
    }
    #nav-bar ul li a:hover,  #nav-bar ul li a span:hover{
        color: #000000;
    }
    #nav-bar .togglebtn{
        position: absolute;
        right: 230px;
        top: 20px;
    }
    #nav-bar .togglebtn span{
        display: block;
        width: 30px;
        height: 5px;
        background: #7e7a7e;
        margin: 5px 0px;
    }

    /**--contact banner--*/
    #contact-banner{
        margin-top: 10px;
    }
    .contact-text{
        font-size: 40px;
        color: #fff;
        padding-left: 1.5%;
        padding-top: 160px;
        padding-bottom: 160px;
        margin-left: 50px;
    }

    /**--contact us--*/
    #contact-mail{
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .contact-left-col{
        flex-basis: 75%;
        margin-left: 50px; 
    }
    .contact-right-col{
        flex-basis: 75%;
    }
    .contact-right-col img{
        width: 90%;
        margin-top: 80px;
    }

    /*---call section--*/
    #info-section{
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .column{
        flex-basis: 75%;
    }
    .column a img{
        width: 30px;
        margin-left: 15px;
    }
    .column h2{
        font-size: 20px;
    }
    .column p{
        font-size: 15px;
    }
    

    /*--footer--*/
    .footer-left-col, .footer-right-col{
        flex-basis: 100%;
    }
    .footer-left-col{
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .footer-links{
        flex-basis: 80%;
        margin-left: 70px;
        margin-bottom: 30px;
    }
    .footer-links .link-title{
        flex-basis: 30%;
        margin-left: 20px;
    }
    .footer-links .link-title a{
        font-size: 12px;
    }
    .footer-section .footer-text{
        color: #fff;
        margin-top: 20px;
        margin-left: 125px;
        font-size: 12px;
    }        
}