*{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}


/**--Header--*/
header{
    background-color: #fff;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

.logo{
    max-width: 100%;
    margin-top: 8px;
    margin-bottom: 5px;
    float: left;
}
#nav-bar{
    float: right;
}
#nav-bar ul li{
    display: inline-block;
    line-height: 60px;
}
#nav-bar ul li a{
    margin-left: 25px;
    text-decoration: none;
    color: #424142;
}
#nav-bar ul li a span{
    color: #c1069f;
    font-weight: 500;
}
#nav-bar ul li a:hover{
    color: #c1069f;
}
#nav-bar ul li a span:hover{
    color: #424142;
}



/* home banner */
#home-banner{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.9)),url(../img/plane.jpg);
    background-position: center;
    background-size: cover;
    margin-top: 5px;
}
.banner-text{
    font-size: 25px;
    color: #fff;
    padding-left: 1.5%;
    padding-top: 160px;
    padding-bottom: 160px;
    margin-left: 60px;
}
.signup-button{
    padding: 15px 30px;
    color: #fff;
    background-color: #c1069f;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
}
.banner-text .signup-button a{
    text-decoration: none;
    color: #fff;
}
.banner-text .signup-button a:hover{
    color: #fff;
}
.banner-text .signup-button:hover{
    background-color: #424142;
}
.banner-text .signup-button{
    margin: 30px 0 0;
}

/*---Features--*/
#features{
    margin: 40px;
    padding: 40px;
}
.feature-row{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
}
.column{
    flex-basis: 25%;
    text-align: center;
    font-size: 16px;
    margin: 30px;
}
.column img{
    width: 140px;
}
.feature-row button{
    margin-top: 10px;
}
.feature-row .column p{
    margin-top: 20px;
}
.feature-row .featurebtn{
    padding: 15px 30px;
    background: none;
    border: 2px solid #c1069f;
    font-weight: bold;
    font-size: 15px;
    border-radius: 10px;
    margin-top: 20px;
    cursor: pointer;
}
.feature-row .featurebtn a{
    text-decoration: none;
    color: #424142;
}
.feature-row .featurebtn a:hover{
    color: #fff;
}
.feature-row .featurebtn:hover{
    background-color: #7e7a7e;
}


/*--blog section--*/
#blog-section{
    margin-top: 50px;
    margin-bottom: 50px;
}
.blog-row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.blog-left-col{
    flex-basis: 50%;
}
.blog-left-col img{
    width: 80%;
}
.blog-right-col{
    flex-basis: 50%;
}
.blog-text{
    max-width: 500px;
    margin-left: 100px;
}
.blog-right-col .square{
    height: 5px;
    width: 350px;
    background: #c1069f;
    display: inline-block;
    border: none;
    border-radius: 10px;
}
.blog-right-col .circle{
    height: 5px;
    width: 5px;
    background: #c1069f;
    display: inline-block;
    border: none;
    border-radius: 50px;
    margin-left: 10px;
}
.blog-right-col .blog-text h1{
    font-weight: 700;
    font-size: 40px;
    color: #424142;
}
.blog-right-col .blog-text p{
    margin-top: 30px;
}
.blog-right-col .blogbtn{
    padding: 15px 30px;
    margin-left: 150px;
    margin-top: 30px;
    border: none;
    border-radius: 10px;
    background-color: #c1069f;
    cursor: pointer;
    font-size: 15px;
}
.blog-right-col .blogbtn a{
    text-decoration: none;
    color: #fff;
    
}
.blog-right-col .blogbtn a:hover{
    color: #fff;
}
.blog-right-col .blogbtn:hover{
    background-color: #424142;
}

/*---footer--*/
#footer{
    padding: 30px 0 30px;
    background-color: #424142;
}
.footer-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-left-col{
    flex-basis: 50%;
    margin-left: 90px;
}
.footer-right-col{
    flex-basis: 35%;
}
.footer-logo img{
    width: 150px;
    margin-bottom: 20px;
}
.footer-contact{
    margin-bottom: 20px;
}
.footer-contact small{
    font-size: 14px;
    color: #fff;
}
.social-icons img{
    width: 20px;
    padding: 0 20px 0 0;
}
.footer-section .social-icons{
    margin-top: 20px;
}
.footer-links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-right: 150px;
    color: #fff;
}
.footer-links{
    flex-basis: 40%;
}
.link-title small a{
    color: #fff;
    text-decoration: none;
    
}
.link-title small a:hover{
    color: #c1069f;
}

.footer-section .line{
    height: 1.5px;
    width: 1200px;
    background: #fff;
    display: inline-block;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
}
.footer-section .footer-text{
    color: #fff;
    margin-top: 20px;
    margin-left: 500px;
}

/*--Media Query---*/

@media only screen and (max-width: 500px){

                .container{
                    margin: auto;
                    overflow: hidden;
                }
                .logo{
                    max-width: 30%;
                    margin-top: 20px;
                    margin-left: 30px;
                }
                #nav-bar{
                    position: fixed;
                    width: 200px;
                    height: 100%;
                    background-color: #7e7a7e;
                    right: -200px;
                    transition: all 0.5s linear;
                }
                #nav-bar.active{
                    right: 0px;
                }
                #nav-bar ul li{
                    list-style: none;
                    padding: 5px 20px;
                    font-size: 15px;
                }
                #nav-bar ul li a{
                    color: #ffffff;
                }
                #nav-bar ul li a span{
                    color: #fff;
                    font-weight: 700;
                }
                #nav-bar ul li a:hover,  #nav-bar ul li a span:hover{
                    color: #000000;
                }
                #nav-bar .togglebtn{
                    position: absolute;
                    right: 230px;
                    top: 20px;
                }
                #nav-bar .togglebtn span{
                    display: block;
                    width: 30px;
                    height: 5px;
                    background: #a1a1a1;
                    margin: 5px 0px;
                }


         /*-- Banner---*/
       
            #home-banner{
                background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.9)),url(../img/plane.jpg);
                background-position: center;
                background-size: cover;
                margin-top: 10px;
                }
            .banner-text{
                font-size: 15px;
                color: #fff;
                padding-top: 150px;
                padding-bottom: 100px;
                margin-left: 90px;
            }
            .banner-text button{
                margin-left: 100px;
            }
            .signup-button{
                padding: 10px 20px;
                color: #fff;
                background-color: #c1069f;
                border: none;
                border-radius: 10px;
                font-size: 13px;
            }



            /*--features---*/
            #features{
                    margin: 30px;
                    padding: 30px;
                }
            .column{
                flex-basis: 75%;
            }
            .column img{
                width: 100px;
            }
            .feature-row button{
                margin-top: 8px;
            }
            .feature-row .column p{
                margin-top: 20px;
            }
            .feature-row .featurebtn{
                padding: 10px 25px;
                background: none;
                border: 2px solid #c1069f;
                font-weight: bold;
                font-size: 14px;
                border-radius: 10px;
                margin-top: 15px;
            }

        /*--Blog---*/
        #blog-section{
        margin-top: 40px;
        margin-bottom: 50px;
        }
        .blog-left-col, .blog-right-col{
            flex-basis: 100%;
        }
        .blog-left-col img{
            width: 70%;
            margin-top: 5px;
            margin-left: 70px;
        }
        .blog-text{
            max-width: 300px;
            margin-top: 10px;
            margin-left: 80px;
        }
        .blog-right-col .square{
            height: 5px;
            width: 250px;
            background: #c1069f;
            display: inline-block;
            border: none;
            border-radius: 10px;
        }
        .blog-right-col .circle{
            height: 5px;
            width: 5px;
            background: #c1069f;
            display: inline-block;
            border: none;
            border-radius: 50px;
            margin-left: 10px;
        }
        .blog-right-col .blog-text h1{
            font-weight: 700;
            font-size: 30px;
            color: #424142;
        }
        .blog-right-col .blog-text p{
            margin-top: 30px;
        }
        .blog-right-col .blogbtn{
            padding: 15px 30px;
            margin-left: 10px;
            margin-top: 30px;
            border: none;
            border-radius: 10px;
            background-color: #c1069f;
            cursor: pointer;
            font-size: 15px;
        }


        /*--footer---*/
        .footer-left-col, .footer-right-col{
            flex-basis: 100%;
        }
        .footer-left-col{
            margin-top: 40px;
            margin-bottom: 40px;
        }
        .footer-links{
            flex-basis: 80%;
            margin-left: 70px;
            margin-bottom: 30px;
        }
        .footer-links .link-title{
            flex-basis: 30%;
            margin-left: 20px;
        }
        .footer-links .link-title a{
            font-size: 12px;
        }
        .footer-section .footer-text{
            color: #fff;
            margin-top: 20px;
            margin-left: 125px;
            font-size: 12px;
        }        
} 